<!doctype html>
<html ng:app="AngularGame">
	<head>
		<title>Test</title>

		<script type="config/stratum/require">
			{
				development:	true
			}
		</script>

		<link rel="stylesheet" href="../css/game.css" />

		<script type="text/javascript" src="../js/dep/stratum/require.js"></script>
		<script type="text/javascript" src="../js/game/init.js"></script>
	</head>

	<body>
		<div id="game" game width="2000" height="1000" fps="50">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%">
				<g>

					<g ng-cloak ng-repeat="player in game.players" collidable="player"
							set="players" collide-enemies="player.hitEnemy($collisions)">
						<g style="transform-origin:25px,25px;" transform="translate({{player.x}} {{player.y}}) rotate({{player.angle}})">
							<path stroke="blue" d="M0 50 L25 0 L50 50" />
						</g>
					</g>

					<g ng-cloak ng-repeat="enemy in game.enemies" collidable="enemy"
							set="enemies" collide-players="enemy.colliding=2"
							collide-enemies="enemy.colliding=true">
						<g transform-origin="25 25" transform="translate({{enemy.x}} {{enemy.y}}) rotate({{enemy.angle}})">
							<rect class="{{enemy.getClass()}}" fill="green"
									x="0" y="0" width="50" height="50" />
						</g>
					</g>

				</g>
			</svg>
		</div>
	</body>
</html>
